<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ context.title_site }} - {{ context.slogan_site }}</title>
    <link rel="shortcut icon" href="../static/imagens/favicon/favicon.ico" type="image/x-icon">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
    <link rel="stylesheet" href="../static/css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.1/css/all.min.css"
        integrity="sha512-2SwdPD6INVrV/lHTZbO2nodKhrnDdJK9/kg2XD1r9uGqPo1cUbujc+IYdlYdEErWNu69gVcYgdxlmVmzTWnetw=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="../static/css/retiro.css">
</head>

<body>
    <section id="retiro">
        <header class="home">
            <div class="">
                <div class="py-3 mb-4 border-bottom">
                    <div class="text-center mb-3">
                        <span class="streak-number"></span>
                    </div>
                    <ul class="nav col-12 col-lg-auto my-2 justify-content-center my-md-0 text-small gap-2">
                        <li>
                            <a href="{{ url_for('index') }}" class="nav-link text-white">
                                <span class="bi d-block mx-auto mb-1 text-center" aria-hidden="true">
                                    <i class="fa-regular fa-house icon-header"></i>
                                </span>
                                Home
                            </a>
                        </li>
                        <li>
                            <a href="{{ url_for('versiculos_tema', tema='todos') }}" class="nav-link text-white">
                                <span class="bi d-block mx-auto mb-1 text-center" aria-hidden="true">
                                    <i class="fa-solid fa-book-bible icon-header"></i>
                                </span>
                                Versículos
                            </a>
                        </li>
                        <li>
                            <a href="{{ url_for('oracoes') }}" class="nav-link text-white">
                                <span class="bi d-block mx-auto mb-1 text-center" aria-hidden="true">
                                    <i class="fa-solid fa-hands-praying icon-header"></i>
                                </span>
                                Orações
                            </a>
                        </li>
                        <li>
                            <a href="{{ url_for('notes') }}" class="nav-link text-white">
                                <span class="bi d-block mx-auto mb-1 text-center" aria-hidden="true">
                                    <i class="fa-solid fa-note-sticky icon-header"></i>
                                </span>
                                Anotações
                            </a>
                        </li>
                        <li>
                            <a href="{{ url_for('retiro') }}" class="nav-link text-white active">
                                <span class="bi d-block mx-auto mb-1 text-center" aria-hidden="true">
                                    <i class="fa-regular fa-hourglass-half icon-header"></i>
                                </span>
                                Modo Retiro
                            </a>
                        </li>
                        {% if context['Status'] == 'Logado!' %}
                        <li>
                            <a href="{{ url_for('logout') }}"
                                class="{{ context['btn_sair-class'] }} nav-link text-white">
                                <span class="bi d-block mx-auto mb-1 text-center" aria-hidden="true">
                                    <i class="fa-solid fa-arrow-right-from-bracket icon-header text-danger"></i>
                                </span>
                                Sair
                            </a>
                        </li>
                        {% endif %}
                    </ul>
                </div>
            </div>
        </header>
        <section id="title-of-page">
            <div class="container text-center">
                <h1 class="text-white mb-4">Modo Retiro</h1>
                <p class="text-white">Desfrute de um momento de paz e reflexão com o Modo Retiro. Este ambiente sereno é
                    projetado para ajudá-lo a se desconectar do mundo exterior e se conectar com sua espiritualidade.
                    Aproveite a tranquilidade, medite sobre as Escrituras e encontre inspiração para sua jornada de fé.
                </p>
                <div class="d-flex flex-wrap justify-content-center gap-3 mt-4">
                    <button class="btn">Iniciar Retiro</button>
                    <button class="btn">Entrar no Secreto</button>
                </div>
            </div>
        </section>
    </section>
    <main>
        <section id="jejum">
            <div class="exp my-auto">
                <h2>Por que Devo <mark>Jejuar</mark>?</h2>
                <p>🙏 Para se aproximar de Deus. O jejum cria um ambiente de busca mais intensa. Na Bíblia, muitas
                    pessoas jejuavam quando queriam:</p>
                <ul>
                    <li>
                        <strong>Direção divina:</strong> O jejum é frequentemente associado à busca de orientação e
                        direção de Deus. Muitas pessoas jejuavam para receber respostas a perguntas importantes ou para
                        discernir a vontade de Deus em suas vidas.
                    </li>
                    <li>
                        <strong>Intimidade com Deus:</strong> O jejum é visto como uma forma de se aproximar de Deus,
                        dedicando tempo e energia para adorá-lo e buscar sua presença. Muitas pessoas jejuavam para
                        fortalecer seu relacionamento com Deus e experimentar uma conexão mais profunda com Ele.
                    </li>
                    <li>
                        <strong>Arrependimento e humilhação:</strong> O jejum também era usado como um ato de
                        arrependimento e humilhação diante de Deus. Muitas pessoas jejuavam para expressar seu
                        arrependimento por pecados cometidos e para buscar o perdão de Deus.
                    </li>
                    <li>
                        <strong>Fortalecimento Espiritual:</strong> O jejum é visto como uma prática que fortalece a fé
                        e a resistência espiritual. Muitas pessoas jejuavam para se preparar para desafios espirituais
                        ou para fortalecer sua fé em momentos de dificuldade.
                    </li>
                </ul>
                <p>Jesus também jejuou antes de iniciar Seu ministério.</p>
            </div>
            <div class="img mx-auto">
                <img src="../../static/imagens/retiro/jejum.webp" alt="Jejum" width="360px">
            </div>
        </section>
        <section id="tipos-jejum">
            <h2>Tipos de Jejum</h2>
            <p>Existem vários tipos de jejum, cada um com seu propósito e abordagem:</p>
            <hr>
            <div class="typesJejum">
                <div class="typeJejum">
                    <i class="fa-brands fa-gripfire"></i>
                    <h3>JEJUM TOTAL</h3>
                    <p>Sem Comida e sem água por um curto período.</p>
                    <hr>
                    <ul>
                        <li>Ester: Pediu 3 dias sem comer e beber</li>
                        <li>Moisés: Ficou 40 dias no sem comer e beber em consagração</li>
                    </ul>
                </div>
                <div class="typeJejum">
                    <i class="fa-brands fa-gripfire"></i>
                    <h3>JEJUM PARCIAL</h3>
                    <p>Reduz ou limita certos alimentos</p>
                    <hr>
                    <ul>
                        <li>Comer apenas frutas, legumes e água</li>
                        <li>Evitar doces, carnes, refrigerantes, fast food etc.</li>
                    </ul>
                </div>
                <div class="typeJejum">
                    <i class="fa-brands fa-gripfire"></i>
                    <h3>JEJUM DE DANIEL</h3>
                    <p>Ele evitou comidas desejáveis e se alimentou de forma simples.</p>
                    <ul>
                        Normalmente inclui:
                        <li>
                            Frutas, Legumes
                        </li>
                        E evita:
                        <li>
                            Carnes, Doces
                        </li>
                    </ul>
                </div>
                <div class="typeJejum">
                    <i class="fa-brands fa-gripfire"></i>
                    <h3>JEJUM COMPLETO</h3>
                    <p>Sem alimentos sólidos, apenas água. Pode Durar</p>
                    <ul>
                        <li>
                            Algumas Horas
                        </li>
                        <li>
                            1 Dia
                        </li>
                        <li>
                            3 Dias
                        </li>
                    </ul>
                </div>
            </div>
        </section>
        <section id="columns">
            <section id="renuncia">
                <div class="wished w-50">
                    <h3>O que Deseja <mark>Renunciar</mark> Hoje?</h3>
                    <ul>
                        <li>Desobediência</li>
                        <li>Hipocrisia</li>
                        <li>Orgulho</li>
                        <li>Inveja</li>
                        <li>Gula</li>
                        <li>Preguiça</li>
                        <li>Luxúria</li>
                        <li>Altivez</li>
                        <li>Tristeza</li>
                    </ul>
                </div>
                <div class="img-r w-50 text-center">
                    <img src="../../static/imagens/retiro/renuncia.webp" alt="Renuncia" width="400px">
                </div>
            </section>
            <section id="intimidade">
                <div class="img-i w-50 text-center">
                    <img src="../../static/imagens/retiro/intimidade-com-Deus.webp" alt="Intimidade com Deus" width="400px" class="mx-auto">
                </div>
                <div class="intimi w-50">
                    <h3>Aumente a sua <mark>Intimidade com Deus</mark></h3>
                    <hr>
                    <p>Durante o Jejum, procure buscar essas coisas:</p>
                    <ul>
                        <li>Oração</li>
                        <li>Palavra</li>
                        <li>Silêncio</li>
                        <li>Adoração</li>
                        <li>Sensibilidade Espiritual</li>
                    </ul>
                </div>
            </section>
        </section>
    </main>
</body>

</html>