@charset "UTF-8";

.player {
    position: sticky;
    top: 0;
    z-index: 1000;
    background: #181818;
    display: flex;
    justify-content: space-around;
    padding: 20px 40px;
    color: var(--details);
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.5);
}

.info {
    display: flex;
    align-items: center;
    gap: 10px;
}

.info img {
    width: 60px;
    border-radius: 8px;
}

.controls {
    text-align: center;
    margin: 15px 0;
}

div.bloco_controls {
    display: block;
}

button {
    background: var(--details);
    border: none;
    padding: 10px 15px;
    border-radius: 50%;
    cursor: pointer;
    font-size: 16px;
}

.progress-container {
    background: #333;
    height: 5px;
    border-radius: 5px;
    cursor: pointer;
}

.progress {
    background: var(--details);
    height: 100%;
    width: 0%;
    border-radius: 5px;
}

/* DEVOCIONAL */

#devocional {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#devocional .content {
    padding: 40px;
    width: 1200px;
    border-left: 2px dashed var(--details);
    border-right: 2px dashed var(--details);
}

#devocional .content h1 {
    font-size: 80px;
    font-style: italic;
    letter-spacing: 2px;
}

#devocional .content h3 {
    font-family: 'Inter', sans-serif;
    font-size: 24px;
    color: var(--details);
}

#devocional .content #text {
    margin-top: 40px;
}

#devocional .content p#versiculo {
    font-family: 'Inter', serif;
    font-style: italic;
    font-size: 20px;
    font-weight: 400;
    margin-left: 20px;
    line-height: 27px;
}

#devocional .content p#versiculo small {
    font-size: 12px;
}